.sidebar-menu-category {
    margin-bottom: 20px;
  }
  
  .menu-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .price-filter {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between inputs and labels */
  }
  
  .price-label {
    font-size: 0.9em;
    font-weight: 500;
  }
  
  .price-input {
    width: 60px; /* Adjust the width to be smaller */
    padding: 5px 8px; /* Padding for a more compact input */
    font-size: 0.9em;
    border: 1px solid #ccc;
    border-radius: 5px; /* Rounded corners */
    outline: none;
    transition: all 0.3s ease;
  }
  
  .price-input:focus {
    border-color: #007bff; /* Color change on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Slight shadow for focus effect */
  }
  
  .price-filter .price-input::placeholder {
    color: #888;
    font-size: 0.85em;
  }
  
  .price-filter {
    margin-top: 10px;
    display: flex;
    gap: 15px;
  }
  
  .sorting-container {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }
  
  .sorting-dropdown {
    position: relative;
  }
  
  #sorting {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .sorting-container label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  