<div>

    <div class="container">

      <div class="testimonials-box">

        <!--
          - TESTIMONIALS
        -->

        <div class="testimonial">

          <h2 class="title">testimonial</h2>

          <div class="testimonial-card">

            <img [src]="testimonials[0].imageUrl" alt="alan doe" class="testimonial-banner" width="80" height="80">

            <p class="testimonial-name">{{testimonials[0].name}}</p>

            <p class="testimonial-title">{{testimonials[0].position}}</p>

            <img src="./assets/frontassets/assets/images/icons/quotes.svg" alt="quotation" class="quotation-img" width="26">

            <p class="testimonial-desc" style="margin: auto;">
             {{testimonials[0].testimonialText}}
            </p>

          </div>

        </div>



        <!--
          - CTA
        -->

        <div id="cta-container" class="cta-container">

          <img src="./assets/frontassets/assets/images/cta-banner.jpg" alt="summer collection" class="cta-banner">

          <a href="#" class="cta-content">

            <p class="discount">{{campaigns[0].name}}</p>

            <h2 class="cta-title">{{campaigns[0].title}}</h2>

            <p class="cta-text">{{campaigns[0].text}}</p>

            <button class="cta-btn">Shop now</button>

          </a>

        </div>



        <!--
          - SERVICE
        -->

        <div class="service">

          <h2 class="title">Our Services</h2>

          <div class="service-container">
         
            <a  *ngFor="let item of services"  class="service-item">

              <div class="service-icon">
                <i [class]="item.icon" aria-hidden="true"></i>
              </div>

              <div class="service-content">

                <h3 class="service-title">{{item.name}}</h3>
                <p class="service-desc">{{item.description}}</p>

              </div>

            </a>
   

          </div>

        </div>

      </div>

    </div>

  </div>
