
<div class="banner">

    <div class="container">

      <div class="slider-container has-scrollbar">

        <div class="slider-item" *ngFor="let item of banners">

          <img [src]="item.imageUrl" alt="women's latest fashion sale" class="banner-img">

          <div class="banner-content">

            <p class="banner-subtitle">{{item.subtitle}}</p>

            <h2 class="banner-title">{{item.title}}</h2>

            <p class="banner-text">
              {{item.bannerText}}
            </p>

            <a href="#" class="banner-btn">Shop now</a>

          </div>

        </div>

      </div>

    </div>

  </div>

