
<div class="other-component">
  <!-- Other component content here -->

  <!-- Chat Assistant Button and Component -->
  <app-chat-assistant></app-chat-assistant>
</div>
<app-subscribe-popup> </app-subscribe-popup>




<!--
  - NOTIFICATION TOAST
-->

<app-bought-an-item> </app-bought-an-item>




<!--
  - HEADER
-->

<app-top-header> </app-top-header>


<!--
  - MAIN
-->

<main>

  <!--
    - BANNER
  -->


<app-banner-slider></app-banner-slider>

  <!--
    - CATEGORY
  -->



<app-category></app-category>



  <!--
    - PRODUCT
  -->
<app-arrivals-trending-toprated></app-arrivals-trending-toprated>

  <!--
    - TESTIMONIALS, CTA & SERVICE
  -->

<app-services-testimonials></app-services-testimonials>

  <!--
    - BLOG
  -->
<app-blogs></app-blogs>

</main>

<!--
  - FOOTER
-->

<app-footer></app-footer>