<div class="product-container">

    <div class="container">


      <!--
        - SIDEBAR
      -->
      <div class="sidebar  has-scrollbar" data-mobile-menu>

        <div class="sorting-container">
          <label for="sorting">Sıralama</label>
          <div class="sorting-dropdown">
            <select id="sorting" (change)="sortProducts($event)">
              <option value="recommended">Önerilen</option>
              <option value="lowestPrice">En düşük fiyat</option>
              <option value="highestPrice">En yüksek fiyat</option>
              <option value="bestSellers">En çok satan</option>
              <option value="favorites">En favoriler</option>
              <option value="newest">En yeniler</option>
              <option value="mostRated">En çok değerlendirilen</option>
            </select>
          </div>
        </div>
        
         <div class="sidebar-category">

          <div class="sidebar-top">
            <h2 class="sidebar-title">Category</h2>

            <button class="sidebar-close-btn" data-mobile-menu-close-btn>
              <i class="fa fa-times-circle"></i>
            </button>
          </div>

          <ul class="sidebar-menu-category-list">
            <li class="sidebar-menu-category" *ngFor="let parent of parentCategories">
              <button class="sidebar-accordion-menu" >
                <div [routerLink]="['/product-filtered', parent.id]" class="menu-title-flex">
                  <img [src]="parent.imageUrl" alt="{{ parent.name }}" width="20" height="20" class="menu-title-img">
                  <p class="menu-title">{{ parent.name }}</p>
                </div>
                <div>
                  <i class="fa fa-plus-circle add-icon"></i>
                  <i class="fa fa-minus-circle remove-icon"></i>
                </div>
              </button>
              <ul class="sidebar-submenu-category-list-category active" *ngIf="childCategories[parent.id]" data-accordion>
                <li class="sidebar-submenu-category " *ngFor="let child of childCategories[parent.id]">
                  <a [routerLink]="['/product-filtered', child.id]" class="sidebar-submenu-title">
                    <p class="product-name">{{ child.name }}</p>
                    <data value="300" class="stock" title="Available Stock">300</data>
                  </a>
                </li>
              </ul>
            </li>
            
            
          </ul>

        </div> 
        <div class="sidebar-category">
          <div class="sidebar-top">
            <h2 class="sidebar-title">Filters</h2>
            <button class="sidebar-close-btn" (click)="closeSidebar()">
              <i class="fa fa-times-circle"></i>
            </button>
          </div>
         
        
          <ul class="sidebar-menu-category-list">
            <!-- Parent Filters -->
            <li class="sidebar-menu-category" *ngFor="let parent of parentFilters">
              <button class="sidebar-accordion-menu" (click)="toggleAccordion($event, 'test')">
                <div class="menu-title-flex">
                  <p class="menu-title">{{ parent.name }}</p>
                </div>
                <div>
                  <i class="fa fa-plus-circle add-icon" *ngIf="childFilters[parent.id]"></i>
                  <i class="fa fa-minus-circle remove-icon" *ngIf="childFilters[parent.id]"></i>
                </div>
              </button>
              <ul class="sidebar-submenu-category-list" *ngIf="childFilters[parent.id]">
                <li style="display: flex; align-items: center;" class="sidebar-submenu-category" *ngFor="let child of childFilters[parent.id]">
                  <input style="width: 20px;" type="checkbox" [id]="child.id" (change)="filterProducts(parent.name, child.name , $event)">
                  <label [for]="child.id">{{ child.name }}</label>
                </li>
              </ul>
            </li>
          </ul>
        </div>   
         <div class="sidebar-category">
          <div class="sidebar-top">
            <h2 class="sidebar-title">Filters</h2>
            <button class="sidebar-close-btn" (click)="closeSidebar()">
              <i class="fa fa-times-circle"></i>
            </button>
          </div>
         
        
          <ul class="sidebar-menu-category-list">
            <li class="sidebar-menu-category">
              <p class="menu-title">Price</p>
              <div class="price-filter">
                <label for="minPrice" class="price-label">Min: &nbsp;</label>
                <input id="minPrice" type="number" [(ngModel)]="minPrice" class="price-input" (change)="filterProducts('price',minPrice!.toString(),$event)" placeholder="Min">
        
              </div><div class="price-filter">
                
                
                <label for="maxPrice" class="price-label">Max: &nbsp;</label>
                <input id="maxPrice" type="number" [(ngModel)]="maxPrice" class="price-input" (change)="filterProducts('price',maxPrice!.toString(),$event)" placeholder="Max">
              </div>
            </li>
          </ul>
          
          
        </div>
        
        <div class="product-showcase">

          <h3 class="showcase-heading">best sellers</h3>

          <div class="showcase-wrapper">

            <div class="showcase-container">

              <div class="showcase"  *ngFor="let bestSeller of bestSellerList">

                <a href="#" class="showcase-img-box">
                  <img [src]="bestSeller.imageUrl" alt="baby fabric shoes" width="75" height="75"
                    class="showcase-img">
                </a>

                <div class="showcase-content">

                  <a href="#">
                    <h4 class="showcase-title">{{bestSeller.name}}</h4>
                  </a>

                  <div class="showcase-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                
                  <div class="price-box">
                    <del>{{bestSeller.deletedPrice}} TL</del>
                    <p class="price">{{bestSeller.price}} TL</p>
                  </div>

                </div>

              </div>

        
            </div>

          </div>

        </div>

      </div>




      <div class="product-box">

        <!--
          - PRODUCT MINIMAL
        -->

        <div *ngIf="activeFilters.length <= 0" class="product-minimal">

          <div class="product-showcase">

            <h2 class="title">New Arrivals</h2>

            <div class="showcase-wrapper has-scrollbar">

              <div class="showcase-container">

                <div class="showcase" *ngFor="let trending of newArrivalsList">
                  <a [routerLink]="['/product/detail', trending.id]" class="showcase-img-box">
                    <img [src]="trending.imageUrl" alt="{{trending.name}}" class="showcase-img" width="70">
                  </a>
                
                  <div class="showcase-content">
                    <a [routerLink]="['/product/detail', trending.id]">
                      <h4 class="showcase-title">{{trending.name}}</h4>
                    </a>
                
                    <a [routerLink]="['/product/detail', trending.id]" class="showcase-category">
                      {{trending.categoryName}}
                    </a>
                
                    <div class="price-box">
                      <p class="price">{{trending.price}} TL</p>
                      <del>{{trending.deletedPrice}} TL</del>
                    </div>
                  </div>
                </div>
                

              </div>

              <div class="showcase-container">
              
                <div class="showcase" *ngFor="let trending of newArrivalsListLastFive">
                  <a [routerLink]="['/product/detail', trending.id]" class="showcase-img-box">
                    <img [src]="trending.imageUrl" alt="{{trending.name}}" class="showcase-img" width="70">
                  </a>
                
                  <div class="showcase-content">
                    <a [routerLink]="['/product/detail', trending.id]">
                      <h4 class="showcase-title">{{trending.name}}</h4>
                    </a>
                
                    <a [routerLink]="['/product/detail', trending.id]" class="showcase-category">
                      {{trending.categoryName}}
                    </a>
                
                    <div class="price-box">
                      <p class="price">{{trending.price}} TL</p>
                      <del>{{trending.deletedPrice}} TL</del>
                    </div>
                  </div>
                </div>
                
              </div>

            </div>

          </div>

          <div class="product-showcase">
            <h2 class="title">Trending</h2>
            <div class="showcase-wrapper has-scrollbar">
              <div class="showcase-container">
                <div class="showcase" *ngFor="let trending of trendingList">
                  <a [routerLink]="['/product/detail', trending.id]" class="showcase-img-box">
                    <img [src]="trending.imageUrl" alt="{{trending.name}}" class="showcase-img" width="70">
                  </a>
                  <div class="showcase-content">
                    <a [routerLink]="['/product/detail', trending.id]">
                      <h4 class="showcase-title">{{trending.name}}</h4>
                    </a>
                    <a [routerLink]="['/product/detail', trending.id]" class="showcase-category">{{trending.categoryName}}</a>
                    <div class="price-box">
                      <p class="price">{{trending.price}} TL</p>
                      <del>{{trending.deletedPrice}} TL</del>
                    </div>
                  </div>
                </div>
              </div>
              <div class="showcase-container">
                <div class="showcase" *ngFor="let trending of trendingListLastFive">
                  <a [routerLink]="['/product/detail', trending.id]" class="showcase-img-box">
                    <img [src]="trending.imageUrl" alt="{{trending.name}}" class="showcase-img" width="70">
                  </a>
                  <div class="showcase-content">
                    <a [routerLink]="['/product/detail', trending.id]">
                      <h4 class="showcase-title">{{trending.name}}</h4>
                    </a>
                    <a [routerLink]="['/product/detail', trending.id]" class="showcase-category">{{trending.categoryName}}</a>
                    <div class="price-box">
                      <p class="price">{{trending.price}} TL</p>
                      <del>{{trending.deletedPrice}} TL</del>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="product-showcase">
            <h2 class="title">Top Rated</h2>
            <div class="showcase-wrapper has-scrollbar">
              <div class="showcase-container">
                <div class="showcase" *ngFor="let trending of topRatedList">
                  <a [routerLink]="['/product/detail', trending.id]" class="showcase-img-box">
                    <img [src]="trending.imageUrl" alt="{{trending.name}}" class="showcase-img" width="70">
                  </a>
                  <div class="showcase-content">
                    <a [routerLink]="['/product/detail', trending.id]">
                      <h4 class="showcase-title">{{trending.name}}</h4>
                    </a>
                    <a [routerLink]="['/product/detail', trending.id]" class="showcase-category">{{trending.categoryName}}</a>
                    <div class="price-box">
                      <p class="price">{{trending.price}} TL</p>
                      <del>{{trending.deletedPrice}} TL</del>
                    </div>
                  </div>
                </div>
              </div>
              <div class="showcase-container">
                <div class="showcase" *ngFor="let trending of topRatedListLastFive">
                  <a [routerLink]="['/product/detail', trending.id]" class="showcase-img-box">
                    <img [src]="trending.imageUrl" alt="{{trending.name}}" class="showcase-img" width="70">
                  </a>
                  <div class="showcase-content">
                    <a [routerLink]="['/product/detail', trending.id]">
                      <h4 class="showcase-title">{{trending.name}}</h4>
                    </a>
                    <a [routerLink]="['/product/detail', trending.id]" class="showcase-category">{{trending.categoryName}}</a>
                    <div class="price-box">
                      <p class="price">{{trending.price}} TL</p>
                      <del>{{trending.deletedPrice}} </del>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>



        <!--
          - PRODUCT FEATURED
        -->

        <div *ngIf="activeFilters.length <= 0"  class="product-featured">

          <h2 class="title">Deal of the day</h2>

          <div class="showcase-wrapper has-scrollbar">

            <div *ngFor="let product of dealOftheDayList"  class="showcase-container">

              <div class="showcase">
                
                <div class="showcase-banner"  [routerLink]="['/product/detail', product.id]">
                  <img [src]="product.imageUrl" alt="shampoo, conditioner & facewash packs" class="showcase-img">
                </div>

                <div class="showcase-content">
                  
                  <div class="showcase-rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </div>

                  <a href="#">
                    <h3 class="showcase-title"  [routerLink]="['/product/detail', product.id]">{{product.name}}</h3>
                  </a>

                  <p class="showcase-desc">
                    {{product.description}}
                  </p>

                  <div class="price-box">
                    <p class="price">{{product.price}} TL</p>

                    <del>{{product.deletedPrice}} TL</del>
                  </div>

                  <button class="add-cart-btn">add to cart</button>

                  <div class="showcase-status">
                    <div class="wrapper">
                      <p>
                        already sold: <b>20</b>
                      </p>

                      <p>
                        available: <b>40</b>
                      </p>
                    </div>

                    <div class="showcase-status-bar"></div>
                  </div>
                  <div class="countdown-box">
                    <p class="countdown-desc">Teklif şu kadar sürede sona eriyor:</p>
                    <div class="countdown">
                      <div class="countdown-content">
                        <p class="display-number">{{ hours | number: '2.0' }}</p>
                        <p class="display-text">Saat</p>
                      </div>
                      <div class="countdown-content">
                        <p class="display-number">{{ minutes | number: '2.0' }}</p>
                        <p class="display-text">Dakika</p>
                      </div>
                      <div class="countdown-content">
                        <p class="display-number">{{ seconds | number: '2.0' }}</p>
                        <p class="display-text">Saniye</p>
                      </div>
                    </div>
                  </div>
                  
                </div>

              </div>

            </div>

     

          </div>

        </div>



        <!--
          - PRODUCT GRID
        -->

        <div class="product-main">

          <h2 class="title">New Products</h2>

          <div class="product-grid">
            <div  *ngFor="let product of productList">
            <div style="height: 100%;" class="showcase" *ngIf="TagSpecificType.discount == product.productSpecificTagId">

              <div class="showcase-banner" *ngIf="TagSpecificType.discount == product.productSpecificTagId">

                <img [src]="product.imageUrl" [alt]="product.description" width="300" class="product-img default">
                <img [src]="product.secondImageUrl" [alt]="product.description" width="300" class="product-img hover">

                <p class="showcase-badge">15%</p>

                <div class="showcase-actions">

                  <button class="btn-action">
                    <i class="fa fa-heart" (click)="addFav(product)" aria-hidden="true"></i>
                  </button>
                  <button class="btn-action" [routerLink]="['/product/detail', product.id]">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </button>


                  <button (click)="addBasket(product)" class="btn-action">
                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                  </button>

                </div>

              </div>

              <div class="showcase-content" >

            
                <a [routerLink]="['/product/detail', product.id]" class="showcase-category">{{product.name}}</a>

                <a [routerLink]="['/product/detail', product.id]">
                  <h3 class="showcase-title">{{product.description}}</h3>
                </a>

                <div class="showcase-rating">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>

                <div class="price-box">
                  <p class="price">{{product.price}} TL</p>
                  <del>{{product.deletedPrice}} TL</del>
                </div>

              </div>

            </div>

            <div style="height: 100%;" class="showcase" *ngIf="TagSpecificType.sale == product.productSpecificTagId">
            
              <div class="showcase-banner">
                <img [src]="product.imageUrl" [alt]="product.description" width="300" class="product-img default">
                <img [src]="product.secondImageUrl" [alt]="product.description" width="300" class="product-img hover">
            
                <p class="showcase-badge angle black">sale</p>
            
                <div class="showcase-actions">

                  <button class="btn-action">
                    <i class="fa fa-heart" (click)="addFav(product)" aria-hidden="true"></i>
                  </button>

                  <button class="btn-action" [routerLink]="['/product/detail', product.id]">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </button>
                  <!-- <button class="btn-action">
                    <i class="fa fa-repeat" aria-hidden="true"></i>
                  </button> -->

                  <button (click)="addBasket(product)" class="btn-action">
                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                  </button>

                </div>
              </div>
            
              <div class="showcase-content">
               
            
                <a [routerLink]="['/product/detail', product.id]" class="showcase-category">{{product.name}}</a>

                <a [routerLink]="['/product/detail', product.id]">
                  <h3 class="showcase-title">{{product.description}}</h3>
                </a>

                <div class="showcase-rating">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>

                <div class="price-box">
                  <p class="price">{{product.price}} TL</p>
                  <del>{{product.price}} TL</del>
                </div>
            
              </div>
            
            </div>
          </div>

          </div>

        </div>

      </div>

    </div>

  </div>

