<button type="button" class="btn btn-primary" (click)="openModal()" data-toggle="modal" data-target="#customModal">
    Add Row
</button>
<button type="button" class="btn btn-primary" (click)="deleteRow()" data-toggle="modal" data-target="#customModal">
    Delete Selected Row
</button>

<ox-rich-grid [bindForEdit]="columnDefs" [bindForRowData]="rowData" rowSelection="multiple" [class]="themeClass">
</ox-rich-grid>

<div class="custom-modal" id="customModal">
  <div class="custom-modal-dialog" role="document">
    <div class="custom-modal-content">
      <div class="custom-modal-header">
        <h5 class="custom-modal-title">Modal title</h5>
        <button type="button" class="close" (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="custom-modal-body">
        <form [formGroup]="cartinfoForm" (ngSubmit)="onSubmit()">
          <div>
            <label for="name">Name</label>
            <input id="name" formControlName="name" type="text">
              Name is required
            </div>

          <div>
            <label for="isDeleted">Is Deleted</label>
            <input id="isDeleted" formControlName="isDeleted" type="checkbox">
          </div>

          <button type="submit" class="btn btn-secondary" [disabled]="cartinfoForm.invalid" (click)="closeModal()">Ekle</button>
        </form>

      </div>
    </div>
  </div>
</div>
