<div id="blog" class="blog">
  <div class="container">
    <div class="blog-container has-scrollbar">
      <div class="blog-card" *ngFor="let item of posts">
        <a [routerLink]="['/blog-detail', item.id]">
          <img src="./assets/frontassets/assets/images/blog-1.jpg" alt="{{item.title}}" width="300" class="blog-banner">
        </a>

        <div class="blog-content">
          <a [routerLink]="['/blog-detail', item.id]" class="blog-category">{{item.title}}</a>

          <a [routerLink]="['/blog-detail', item.id]">
            <h3 class="blog-title">{{item.subtitle}}</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
