<div class="category">

    <div class="container">

      <div class="category-item-container has-scrollbar">

        <div  class="category-item" *ngFor="let category of categoryList" >

          <div  class="category-img-box">
            <img [src]="category.imageUrl" alt="dress & frock" width="30">
          </div>

          <div class="category-content-box">

            <div class="category-content-flex">
              <h3 class="category-item-title">{{category.name}}</h3>

              <p class="category-item-amount">(53)</p>
            </div>

            <a [routerLink]="['/product-filtered', category.id]" class="category-btn">Show all</a>

          </div>

        </div>

     
      </div>

    </div>

  </div>